.wrapper:before {
    content: " ";
    position: absolute;
    bottom: -12px;
    left: 0px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 8px 12px 0;
    border-color: transparent #65b597 transparent transparent;
}

.wrapper:after {
    content: " ";
    position: absolute;
    left: 100%;
    top: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 0 20px 20px;
    border-color: transparent transparent transparent #65b597;
}